/*!
 *  Copyright (C) 2018  Eloy Espinaco
 *
 *  This program is free software: you can redistribute it and/or modify
 *  it under the terms of the GNU Affero General Public License as published by
 *  the Free Software Foundation, either version 3 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU Affero General Public License for more details.
 *
 *  You should have received a copy of the GNU Affero General Public License
 *  along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

html {
  margin-bottom: 2em;
}

body {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  margin-left: 0;
}

form {
  margin: 1rem;
  max-width: 280px;
}

fieldset {
  padding: 0.5em 1em;
}

label {
  display: block;
  margin: 0.5em 0;
}

input , select {
  display: block;
  width: 90%;
}

select {
  width: 98%;
}

input[type=number] {
  line-height: 2.5em;
}

button {
  width: 99%;
  height: 3em;
  margin: 2px;
}

#graph {
  margin: 1rem;
}

svg {
  width: 600px;
  max-width: 100vw;
}

footer {
  background-color: hsla(40, 20%, 50%, 0.3);
  bottom: 0;
  padding: 0.3rem;
  position: fixed;
  text-align: center;
  width: 100%;
}

footer img {
  height: 1.2em;
  vertical-align: middle;
}
